@font-face {
    font-family: 'Hero';
    src: url('/assets/fonts/HeroLight-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hero';
    src: url('/assets/fonts/HeroLight-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

:root {
    --nav-height: 64px;
}
 /*HEADER*/

.navbar {
    padding: 0 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    min-width: 100%;
    height: var(--nav-height);
}
.navbar-list-items {
    padding-left: 7.5rem !important;
    padding-right: 7.5rem !important;
}
.bg-whitish {
    background-color: #f2f2f2;
}

.custom-text {
    font-family: 'Hero', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
}

.nav-item.separator {
    display: flex;
    align-items: center;
    padding-right: 0.75rem;
    margin-right: 0.75rem;
    position: relative;
}

.nav-item.separator::after {
    content: '';
    position: absolute;
    right: 0;
    height: 16px;
    width: 1px;
    background-color: #ccc;
}

@media screen and (max-width: 1204px) {
    .navbar-list-items{
        display: none;
    }
}

/* ----------------------------Main section--------------------------------- */
main {
    height: calc(100vh - 64px); /*Calculating the remaining height excluding Navbar height.*/
}
.parallax {
    height: 100%;
    position: relative;
}

.parallax-video {
    position: fixed;
    top: 64px;
    height: 100%;
    width: 100%;
    object-fit: fill;
    z-index: -1;
}

.transparent-container {
    background: transparent;
    position: relative;
    top: 93%;
}

.transparent-container > .d-flex > div {
    height: 5rem;
}

.transparent-container > .d-flex > div:first-child {
    width: 45%;
    background-color: black;
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 80% 0%);
}

.transparent-container > .d-flex > div:last-child {
    width: 55%;
    background: transparent;
}

.black-container {
    background-color: black;
}


