@font-face {
    font-family: 'Hero';
    src: url('/assets/fonts/HeroLight-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hero';
    src: url('/assets/fonts/HeroLight-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --nav-height: 64px;
}


 /*HEADER*/

.navbar {
    padding: 0 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    min-width: 100%;
    height: var(--nav-height);
}
.navbar-list-items {
    padding-left: 7.5rem !important;
    padding-right: 7.5rem !important;
}
.bg-whitish {
    background-color: #f2f2f2;
}

.custom-text {
    font-family: 'Hero', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
}

.nav-item.separator {
    display: flex;
    align-items: center;
    padding-right: 0.75rem;
    margin-right: 0.75rem;
    position: relative;
}

.nav-item.separator::after {
    content: '';
    position: absolute;
    right: 0;
    height: 16px;
    width: 1px;
    background-color: #ccc;
}

/*Article*/

#myVideo {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;

    z-index: 0;
}


article {
    background-color: black;
}

.hero-section {
    position: relative;
    padding: 3rem 0;
    height: calc(100dvh - var(--nav-height));
    margin-top: var(--nav-height);
    overflow: hidden;
}

