@font-face {
    font-family: 'Hero';
    src: url('/assets/fonts/HeroLight-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hero';
    src: url('/assets/fonts/HeroLight-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.navbar {
    padding: 0 2rem;
}
.navbar-list-items {
    padding-left: 7.5rem !important;
    padding-right: 7.5rem !important;
}
.bg-whitish {
    background-color: #f2f2f2;
}

.custom-text {
    font-family: 'Hero', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
}

.nav-item.separator {
    display: flex;
    align-items: center;
    padding-right: 0.75rem;
    margin-right: 0.75rem;
    position: relative;
}

.nav-item.separator::after {
    content: '';
    position: absolute;
    right: 0;
    height: 16px;
    width: 1px;
    background-color: #ccc;
}
